#table {display: table; border:1px solid red; border-collapse: collapse;}

.colgroup {display: table-column-group;}

.column {display: table-column;}

.header {display: table-header-group; font-weight: bold;}

.body {display: table-row-group;}

.footer {display: table-footer-group;}

.row {display: table-row;}

.cell {display: table-cell; border:1px solid green;}

.caption {display: table-caption; caption-side:bottom;}

#table, .row, .cell, .column, .body, .colgroup, .header, .footer
{
	margin: 5px;
	padding: 5px;
}